.logo{
    height: 2vh;
    width: 2vh;
    margin-top: 0.3rem;
    border: 1px white solid;
    
}



body{
    margin: 2rem;
    color: #828282;
}

a{
    color: black;
    text-decoration: none;
}

.navigation{
    background-color: #fb6518;
    height: 4vh;
      
}



.main{
    background-color: whitesmoke;
}

.links{
    font-size: 8pt;
}

footer{
    text-align: center;
}

.footer ul li{
    
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}

